# EC2 #3 - copy to .env
# PRIVATE IP of EC2 #1
DB_HOST=172.31.x.x
POSTGRES_USER=library
# same as EC2 #1
POSTGRES_PASSWORD=
# same as EC2 #1
SECRET_KEY=
# same on EC2 #2, #3, #4
INTERNAL_API_KEY=
# PRIVATE IP of EC2 #2
EC2_2_IP=172.31.x.x
# PRIVATE IP of EC2 #4
EC2_4_IP=172.31.x.x
