# EC2 #2 - copy to .env
# PRIVATE IP of EC2 #1 (PostgreSQL lives there)
DB_HOST=172.31.x.x
POSTGRES_USER=library
# same as EC2 #1
POSTGRES_PASSWORD=
# same as EC2 #1
SECRET_KEY=
# >= 16 chars - same on EC2 #2, #3, #4
INTERNAL_API_KEY=
