# EC2 #1 - copy to .env.   All IPs are the PRIVATE IPv4 addresses of the other instances.
POSTGRES_USER=library
POSTGRES_PASSWORD=change_me_letters_and_digits_only
# >= 32 chars - MUST be identical on all 4 instances
SECRET_KEY=
# secret for creating ADMIN accounts
ADMIN_REGISTRATION_KEY=
# Member 1 instance (catalog + member)
EC2_2_IP=172.31.x.x
# Member 2 instance (inventory + borrowing)
EC2_3_IP=172.31.x.x
# Member 3 instance (fine + review)
EC2_4_IP=172.31.x.x
